
<h1>Listagem de Restaurantes</h1><br/> 


<table border = "2", bordercolor="blue", bgcolor= #F3F781>
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Endereço</th>
    <th>Especialidade</th>
  </tr>

<% @restaurantes.each do |restaurante| %>
  <tr>
    <td><u><%= restaurante.id %></u></td>
    <td width=200px><i><b><%= restaurante.nome %></b></i></td>
    <td width=200><%= restaurante.endereco %></td>
    <td width=150px><%= restaurante.especialidade %></td>
    <!--td><%= link_to "Mostrar", action: 'show', id: restaurante %></td-->
    <td><%= link_to 'Alterar', action: 'edit', id:restaurante %></td>
 <!--   <td><%= link_to 'Deletar', {backcolor: 'red' ,  action: 'destroy', id: restaurante},{method: "delete"}  %> -->
  </tr>
<% end %>

</table>
    <%= link_to "Novo", action: 'new' %><br/>
