<h2> Qualificacoes</h2>
<table border="1">
  <tr>
  	<th>ID</th>
  	<th>cliente</th>
  	<th>Qualificacao</th>
  	<th>Nota</th>
    <th>Valor Gasto</th>
  </tr>
    <tr>
    <td><%= @qualificacao.id %></td>
    <td><%= @qualificacao.cliente_id %></td>
	  <td><%= @qualificacao.restaurante_id %></td>
	  <td><%= @qualificacao.nota  %></td>
	  <td><%= @qualificacao.valor_gasto %></td>
	</tr>	
</table>
  <%= comentarios @qualificacao %>
  <%= novo_comentario @qualificacao %>

  <%= link_to "Alterar", action: 'edit', id:@qualificacao %>
  <%= link_to 'Voltar', action: 'index' %>
 