<!DOCTYPE html>
<html>
  <head>
    <title>NovoPrato</title>
    <%= stylesheet_link_tag 'scaffold' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h2>Restaurantes</h2>
    <ul>
      <% %w[clientes qualificacoes restaurantes].each do |controller_name| %>
        <li>
          <%= link_to controller_name, controller: controller_name %>
        </li>
      <% end %>
      <!--%= menu_principal %w(restaurantes clientes qualificacoes) %-->
      
    </ul>
 <%= yield %>

 <script>
  <%= yield :js %>
 </script>

  </body>
</html>
